
.icon-video:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-note-beamed:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */