@charset "utf-8";
@import "fonts.css";
/*스타일 초기화*/
html, body{
    margin: 0;
}
html{
    font-size: 10px;
}
body{
    background: #fff;
    color: #181818;
    font-size: 1.4rem;
    font-family: 'Noto Sans Regular';
    line-height: 1.2;
}
/*건너뛰기 링크*/
.a11y{
    display: none;
}
/*숨김 콘텐츠*/
.a11y-hidden, legend{
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
/*링크 스타일*/
a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus{
    color: #f00;
}
/*wrapper*/
.wrapper{
 background-image: url(images1/bg_flower.png), linear-gradient(to bottom, #999 0%, #eee 70%, #fff 80%, #fff 100%);
 background-repeat: no-repeat, repeat;
 background-position: 50% 30px, 0 0;
 height:100vh;
}
.header, .visual, .main-content, .slogan, .footer{
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
}
/*헤더*/
.header{
    background: #fff;
    margin: 0 auto;
    position: relative;
    padding: 0 30px 35px;
    border-radius: 0 0 15px 15px;
}
/*logo*/
.logo{
    margin:0;
    position: absolute;
    top: 45px;
    left: 65px;
}
.logo a{
    display: block;
}
/*info-menu*/
/*float로 움직여보기*/
/*
.info-menu{
    list-style: none;
    padding-left: 0;
    margin: 0;
    float: right;
}
.info-menu li{
    float: left;
}
.info-menu a::after{
    content:":";
    padding-left: 10px;
}
.info-menu a{
    padding: 8px 0 8px 8px;
}
.info-menu li:last-child a::after{
    content:"";
}
*/
/*flex로 움직여보기*/
/*.info-menu{
    background: pink;
    list-style: none;
    margin: 0;
    padding:2px 0;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
.info-menu a{
    display: block;
    padding: 8px 0 8px 8px;
}
.info-menu li:not(:last-child) a::after{
    content:":";
    padding-left: 8px;
    position: relative;
    top:-2px;
}
*/
/*display: inline-block으로 움직여보기*/
.info-menu{
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 2px 0;
    text-align: right;
}
.info-menu li, .info-menu a{
    display: inline-block;
}
.info-menu a{
    padding: 8px 0 8px 8px;
    text-transform: uppercase;
}
.info-menu a::after{
    content:":";
    padding-left: 10px;
}
.info-menu li:last-child a::after{
    content: "";
    padding-left: 0;
}
/*info-menu li:last-child{
    width: 70px;
    overflow: hidden; 
}
이렇게 했을때 올라가는 이슈는 어떻게 해결할 것인가.
*/
/*nav*/
/*flex 이용*/
/*
main-menu{
    background-color: #f2752e;
    background-image: linear-gradient(to bottom, #eaac2e 0%, #f2752e 35%, #f2752e 65%, #eaac2e 100%);
    margin: 0;
    list-style: none;
    border-top: 2px solid #000;
    padding-left: 225px;
    display: flex;
    height: 45px;
    border-radius:  0 0 5px 5px;
}
.main-menu a{
    outline: 0;
}
.main-menu > li {
    flex-grow: 1;
    position: relative;
}
    /*강사님은 flex: 0 1 auto*/
/*.main-menu > li > a{
    display: block;
    line-height: 45px;
    font-family: "Noto Sans Bold";
    color: #fff;
    font-size: 1.6rem;
    border-left: 1px solid #fff;
    text-align: center;
    text-shadow: 1px 0 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5);
}
.main-menu > li > a:hover,
.main-menu > li > a:focus{
    color: #ff0;
}
.main-menu > li > a:hover::after,
.main-menu > li > a:focus::after{
    content:"";
    display: block;
    margin: 0 auto;
    height: 2px;
    background: black;
    width: 70%;
}
.main-menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    top: 47px;
}
.main-menu ul li, .main-menu ul a{
    display: inline-block;
}
.main-menu ul a{
    padding: 6px 0 5px 0;
    margin-right: 10px;
}
.main-menu ul a::before{
    content: "r";
    font-family: 'webcafeIcon';
    vertical-align: middle;
}
.main-menu ul a:hover::before,
.main-menu ul a:focus::before{
    content:"c";
}
.about-css{
    display: none;
}
.web-standard{
    display: none;
}
.web-accessibility{
    display: none;
}
.qna{
    display: none;
}
.archive{
    display: none;
}*/
/*float 이용*/
.main-menu{
    background-color: #f2752e;
    background-image: linear-gradient(to bottom, #eaac2e 0%, #f2752e 35%, #f2752e 65%, #eaac2e 100%);
    list-style: none;
    margin: 0;
    padding-left: 225px;
    height: 45px;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
}
.maint-menu a{
    outline: 0;
}
.main-menu > li{
     float: left;
     position: relative;
}
.main-menu > li > a{
    display: block;
    line-height: 45px;
    font-family: "Noto Sans Bold";
    color: #fff;
    font-size: 1.6rem;
    border-left: 1px solid #fff;
    padding: 0 20px;
    text-shadow: 1px 0 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5);
}
.main-menu > li > a:hover,
.main-menu > li > a:focus{
    color: #ff0;
}
.main-menu > li > a:hover::after,
.main-menu > li > a:focus::after{
    content: "";
    display: block;
    height: 2px;
    background: #000;
}
.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    top: 47px;
}
.about-css{
    display: none;
}
.web-standard{
    display: none;
}
.web-accessibility{
    display: none;
}
.qna{
    display: none;
}
.archive{
    display: none;
}
.main-menu ul li, .main-menu ul a{
    display: inline-block;
    padding: 3px 0 5px 0;
    margin-right: 10px;
}
.main-menu ul a::before{
    content: "r";
    font-family: 'WebcafeIcon';
    vertical-align: middle;
}
.main-menu ul a:hover::before,
.main-menu ul a:focus::before{
    content: "c";
}
/*비주얼*/
@keyframes text-ani{
   from{
       font-size: 12px;
       opacity: 0;
       transform: translate(0,0);
   }
   to{
       font-size: 24px;
       opacity: 1;
       transform: translate(400px,75px);
   }
}
@keyframes flower-ani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.visual{
    height: 120px;
    position: relative;
}
.visual-text{
    animation-name: text-ani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.visual::before, .visual::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: flower-ani 2s infinite alternate;
}
.visual::before{
    background: url(images1/ani_flower_01.png) no-repeat 0 -15px, url(images1/ani_flower_02.png) no-repeat 670px 0;
}
.visual::after{
    background: url(images1/ani_flower_03.png) no-repeat 300px 0, url(images1/ani_flower_04.png) no-repeat 800px 15px;
    animation-delay: 1s;
}
/*main-content*/
.main-content{
    background: pink;
    height: 360px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.main-content::after{
    content: "";
    display: block;
    clear: both;
}
/*컬럼*/
.group1{
    width: 250px;
}
/*로그인*/
.login{
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(circle at top right, #eaac2e, #f2752e);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}
.login-heading{
   margin: 0;
   padding-left: 10px;
   font-size: 1.6rem;
   color: #ff0;
}
.login-form{
    background: #fff;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
}
.login-form fieldset{
    border: 0;/*ㅜnone도 괜춘*/
    padding: 0 0 5px 0;
    margin: 0;
    border-bottom: 1px solid #aaa;
    position: relative;
}
.user-email, .user-pw{
    padding-bottom: 5px;
}
.login-form label{
    width: 4em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.login-form input{
    box-sizing: border-box;
    border: 1px solid #aaa;
    width: 90px;
    height: 22px;
    padding: 1px 1px 1px 5px;
}
.btn-login{
    box-sizing: border-box;
    border: 1px solid #f00;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    background: #f00;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: "Noto Sans Bold";
    font-size: 1.2rem;
}
.member-info{
    list-style: none;
    background: #fff;
    padding-left: 0;
    margin: 0;
    padding: 2px 10px;
    border-radius: 0 0 10px 10px;
}
.member-info::after{
    content: "";
    display: block; /*table도 가능함*/
    clear: both;
}
.member-info li:nth-of-type(1){
    float: left;
}
.member-info li:nth-of-type(2){
    float: right;
}
.member-info a{
    padding: 8px 0;
    display: block;
    letter-spacing: -1px;
}
.member-info a::before{
    content:"g";
    font-family: 'webcafeIcon';
    color: #f00;
    position: relative;
    top: 2px;
}


.group2{
    background: deepskyblue;
    margin: 0 20px;
    float: left;
}
.group3{
    background: #f33;
    float: left;
}
.slogan{
    background: olive;
    height: 100px;
    width: 940px;
    margin: 0 auto;
}
.footer-bg{
    background: lime;
    height: 100px;
    width: 100%;
}
.footer{
    background: deeppink;
    height: 100px;
    width: 940px;
    margin: 0 auto;
}
