html {
  box-sizing: border-box;
  font-size: 10px;
  overflow-y: scroll; }

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.show-grid {
  position: relative; }

.show-grid::before,
.show-grid::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100vh; }

.show-grid::before {
  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, transparent 20px, #0cf 20px);
  background-size: 1px 21px; }

.show-grid::after {
  z-index: 10010;
  left: 50%;
  width: 1080px;
  background: linear-gradient(90deg, transparent 10px, #eee 10px, #eee 80px, transparent 80px);
  background-size: 90px 1px;
  transform: translateX(-50%); }
