/* Icons from directory "" */
.icon-icon-alam,.icon-icon-alam\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-icon-alam-dims{width:32px;height:32px}
.icon-icon-cart,.icon-icon-cart\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-icon-cart-dims{width:32px;height:32px}
.icon-icon-contact,.icon-icon-contact\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-icon-contact-dims{width:32px;height:32px}
.icon-icon-filter,.icon-icon-filter\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-icon-filter-dims{width:32px;height:32px}
.icon-icon-instagram,.icon-icon-instagram\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-icon-instagram-dims{width:32px;height:32px}
.icon-icon-like-on,.icon-icon-like-on\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-icon-like-on-dims{width:32px;height:32px}
.icon-icon-like,.icon-icon-like\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-icon-like-dims{width:32px;height:32px}
.icon-icon-profile,.icon-icon-profile\:regular{background-image:url('icons/icons.svg');background-position:0 -224px;background-repeat:no-repeat}
.icon-icon-profile-dims{width:32px;height:32px}
.icon-icon-search,.icon-icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -256px;background-repeat:no-repeat}
.icon-icon-search-dims{width:32px;height:32px}
.icon-icon-shopping-bag,.icon-icon-shopping-bag\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-icon-shopping-bag-dims{width:32px;height:32px}
.icon-icon-star-on,.icon-icon-star-on\:regular{background-image:url('icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-icon-star-on-dims{width:32px;height:32px}
.icon-icon-star,.icon-icon-star\:regular{background-image:url('icons/icons.svg');background-position:0 -352px;background-repeat:no-repeat}
.icon-icon-star-dims{width:32px;height:32px}
.icon-icon-weibo,.icon-icon-weibo\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-icon-weibo-dims{width:32px;height:32px}